<a href="https://colab.research.google.com/github/AmeenaALAVUDEEN/Internship/blob/main/day_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

array=['ameena','alfina'];
for i in range(len(array)-1,-1,-1): 
    print(array[i]);

alfina
ameena

In [ ]:
side=int(input("please enter any side of a square :"))
print("square star pattern")
for i in range (side) : 
  for i in range (side):
     print('*',end=' ')
  print()

please enter any side of a square :4
square star pattern
* * * *
* * * *
* * * *
* * * *

In [ ]:
print("python\n"*3)

python
python
python

In [ ]:
s='python'
print(s[0:6:2])

pto

In [ ]:
print("welcome",end ='!')

welcome!

In [ ]:
print("\"welcome\"")

"welcome"

In [ ]:
a=1
while a < 10:
 print(a)
 a +=2

1
3
5
7
9

In [ ]:
for val in "string":
  if val =="i":
    continue
    print(val)
    print("The end")

In [ ]:
# menus
print("Calculator")
print("1.Add")
print("2.Substract")
print("3.Multiply")
print("4.Divide")

# input choice
ch=int(input("Enter Choice(1-4): "))

if ch==1:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a+b
    print("Sum = ",c)
elif ch==2:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a-b
    print("Difference = ",c)
elif  ch==3:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a*b
    print("Product = ",c)
elif ch==4:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a/b
    print("Quotient = ",c)
else:
    print("Invalid Choice")

Calculator
1.Add
2.Substract
3.Multiply
4.Divide
Enter Choice(1-4): 4
Enter A:3
Enter B:4
Quotient =  0.75

In [ ]:
a=int(input("enter the first number 1:-"))
b=int(input("enter the second number 2:-"))
print("select operation")
print("1.addition")
print("2.substraction")
print("3.multiplication")
print("4.division")
n=int(input("enter the choice: "))
if(n==1):
  r=a+b
  print(r)
elif(n==2):
   r=a-b
   print(r)
elif(n==3):
    r=a*b
    print(r)
elif(n==4):
     r=a/b
     print(r)
else:
       print('wrong input')

enter the first number 1:-2
enter the second number 2:-4
select operation
1.addition
2.substraction
3.multiplication
4.division
enter the choice: 1
6

In [ ]:
num=int(input("Enter the number:"))
c=0
i=1
while(i<=num):
  if num%i==0:
    c=c+1
    i=i+1
    if c==2:
      print("number is prime")
    else:
        print("number is not prime")

Enter the number:1
number is not prime

In [ ]:
year=int(input("enter the number:"))
if year%4==0:
  print("leap year")
elif year%400==0:
    print("leap year:")
else:
    print("not leap year")

enter the number:2024
leap year

In [ ]:
a=int(input("enter the number:"))
s=0
for i in range(0,a+1):
  s=s+1
print("The sum is:",s)

enter the number:12
The sum is: 13

In [ ]:
def greet():
  print('HELLO')

In [ ]:
def addnumber(num1,num2):
  sum=num1+num2
  print(sum)

In [ ]:
addnumber(4,5)

9

In [ ]:
def squarenumber(num1):
  square =num1*num1
  print(square)
squarenumber(10)

100

In [ ]:
def sqr(a):
  print("square of the number is :",a*a)
n=int(input("enter the number:"))
sqr(n)

enter the number:4
square of the number is : 16

In [ ]:
lst = []
n=int(input("Enter number of elements : "))
for i in range(0,n):
  print("Enter elements: ")
  ele = int(input())
  lst.append(ele) 
  print(lst)
sum = 0
for i in lst:
  sum += i
print("Sum of all elements in given list: ",1sum)

Enter number of elements : 4
Enter elements:
3
[3]
Enter elements:
2
[3, 2]
Enter elements:
1
[3, 2, 1]
Enter elements:
5
[3, 2, 1, 5]
Sum of all elements in given list:  11

In [ ]:
string = input("Enter the string : ")
N=0
print("length of The String: ",len(string))
print("First half of the string: ",string[:len(string)//2])

Enter the string : 4
length of The String:  1
First half of the string:

In [ ]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
Add = str1 + str2
print("Resultant string is:", Add)
print("Length of the resultant string is:",len(Add))

Enter first string: 4
Enter second string: 8
Resultant string is: 48
Length of the resultant string is: 2

In [ ]:
tup = (78,45,32,19,82,77,40,39)
lst = list(tup)
lst[2] = 100
tup = tuple(lst)
print(tup)

(78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
#list a number
lst = [19,32,10,55,31,32,94,29,10,65,77,40,40]
lst[9] = 300
lst.remove(32)
while 40 in lst:
    lst.remove(40)
del lst[5]
print(len(lst))
lst[2]+=200
s=0
for i in lst:
  s=s+i
print(lst)
print("Length of list:", len(lst))
print("Maximum value in list:", max(lst))
print("Sum of all elements in list:",s)

9
[19, 10, 255, 31, 32, 29, 10, 300, 77]
Length of list: 9
Maximum value in list: 300
Sum of all elements in list: 763